/*img[alt=bg]{
	position: absolute !important;
	right: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: -1 !important;
	background: rgb(240, 240, 240) none repeat scroll 0% 0%;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

section.cover {
	background: none !important;
	margin: 0;
	padding: 0;
}
*/